<div class="oval bg-flat db mb-m pointer p-m"
     data-type="option"
     data-key="option"
     data-target=""
     data-count="">
    <div class="default" data-key="default">
        <div class="content fl lh-l">
            <i class="fa fa-chevron-circle-right mr-m"></i><span data-key="name"></span>
        </div>
        <div class="buttons tar">
            <a class="button dib oval-s iact p-s tac"><i class="fa fa-trash red"></i></a>
        </div>
    </div>
    <div class="edit" data-hidden="true" data-key="edit">
        <div class="content fl lh-l w90">
            <input class="p-s w50 fs-s"
                   placeholder="Label"
                   type="text"
                   name="label"
                   data-type="label"
                   data-key="label" />
            <input class="p-s w20 fs-s"
                   placeholder="Target node"
                   type="text"
                   name="target"
                   data-type="target"
                   data-key="target" />
            <input class="p-s w20 fs-s"
                   placeholder="Value"
                   type="text"
                   name="value"
                   data-type="value"
                   data-key="value" />
        </div>
        <div class="buttons tar">
            <a class="button dib oval-s iact p-s tac" data-type="cancelOption">
                <i class="fa fa-window-close red"></i>
            </a>
            <a class="button dib oval-s iact p-s tac" data-type="saveOption">
                <i class="fa fa-check-square green"></i>
            </a>
        </div>
    </div>
</div>