<div class="Project pointer iact oval ofh m-m" data-project="{name}" data-type="project">
    <div class="Info">
        <div class="Name">{name}</div>
    </div>
    <div class="fa fa-book fa-4x"></div>
    <div class="buttonBar mv-xl">
        <a class="button dib p-m oval-s iact"
           data-type="deleteButton"
           data-project="{name}"
           data-tooltip="Delete project">
            <span class="fa fa-trash fa-lg red"></span>
        </a>
        <a class="button dib p-m oval-s iact"
           data-type="buildDesktopButton"
           data-project="{name}"
           data-tooltip="Build for desktop">
            <span class="fa fa-desktop fa-lg"></span>
        </a>
        <a class="button dib p-m oval-s iact"
           data-type="buildButton"
           data-project="{name}"
           data-tooltip="Build for browser">
            <span class="fa fa-wrench fa-lg"></span>
        </a>
        <a class="button dib p-m oval-s iact"
           data-type="runButton"
           data-action="run"
           data-project="{name}"
           data-tooltip="Build &amp; run">
            <span class="fa fa-play-circle fa-lg green"></span>
        </a>
    </div>
</div>